$clr-primary-100: hsl(179, 62%, 43%);
$clr-primary-200: hsl(179, 47%, 52%);
$clr-primary-300: hsl(71, 73%, 54%);
$clr-primary-350: hsl(71, 73%, 58%);

$clr-bg-neutral-050: hsl(204, 43%, 100%);
$clr-bg-neutral-100: hsl(204, 43%, 93%);
$clr-bg-neutral-200: hsl(218, 22%, 67%);
